.home{
  min-height: 80vh;
}
/* Video landpage*/

.Video{
  width: 100%;
  height: auto;
}

/* BG white */

#title{
  background: black;
  opacity: 0.7;
  max-height: 300px;
  color: navajowhite;
}

/***** Animation CT ******/
.ml12 {
  font-weight: 200;
  font-size: 1.8em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}

/**** Animation Dev web ****/

.ml5 {
  position: relative;
  font-weight: 300;
  font-size: 4.5em;
  color: navajowhite;
}

.ml5 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
  line-height: 1em;
}

.ml5 .line {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 3px;
  width: 100%;
  background-color: #402d2d;
  transform-origin: 0.5 0;
}

.ml5 .ampersand {
  font-family: Baskerville, serif;
  font-style: italic;
  font-weight: 400;
  width: 1em;
  margin-right: -0.1em;
  margin-left: -0.1em;
}

.ml5 .letters {
  display: inline-block;
  opacity: 0;
}